/**************************************
STATIC LAYOUT CSS
**************************************/

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.top-bar,
.side-bar,
.main-section {
  width: 100%;
}

/* .side-bar,
.main-section {
  float: left;
} */

/* .side-bar {
  width: 20.83%;
  margin-right: 1%;
} */

/**************************************
CSS TO MAKE THE EXAMPLE LOOK PRETTY
**************************************/

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-bar,
.side-bar,
.main-section {
  border: 1px solid;
  margin-bottom: 1%;
  border-radius: 8px;
}

.top-bar,
.side-bar {
  padding: 20px 0;
}

.main-section {
  padding: 20.83% 0;
}

.database-list {
  padding: 40% 0;
}

.deck-contents {
  border-right: 1px solid;
  text-align: center;
}

.flex {
  display: flex;
}

.deck-card {
  border: 1px solid;
  border-radius: 4px;
  margin: 2%;
}

.row {
  flex-direction: row;
}

.deck-list {
  list-style-type: none;
  padding: none;
  overflow: scroll;
}
